.cart-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cart-page .cart-item-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: rgba(119, 200, 170, 0.9);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 50%;
  max-width: 40%;
  box-shadow: 10px 10px 25px rgb(108, 122, 137);
}
.cart-page .cart-header-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(119, 200, 170);
  margin: 0;
  cursor: default;
  font-style: italic;
  width: 50%;
  font-size: 1.9rem;
  font-weight: bolder;
  height: auto;
  -webkit-animation: glide_up 900ms cubic-bezier(0.82, -0.32, 0.24, 1.86) forwards, text_appear 1s cubic-bezier(0.7, 0.32, 0.2, 1.6) forwards;
          animation: glide_up 900ms cubic-bezier(0.82, -0.32, 0.24, 1.86) forwards, text_appear 1s cubic-bezier(0.7, 0.32, 0.2, 1.6) forwards;
}
@-webkit-keyframes glide_up {
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
  }
  100% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -375%);
  }
}
@keyframes glide_up {
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
  }
  100% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -375%);
  }
}
@-webkit-keyframes text_appear {
  0% {
    color: rgba(119, 200, 170, 0);
  }
  100% {
    color: rgb(119, 200, 170);
  }
}
@keyframes text_appear {
  0% {
    color: rgba(119, 200, 170, 0);
  }
  100% {
    color: rgb(119, 200, 170);
  }
}
.cart-page .cart-header-display > p:last-of-type {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  color: rgb(108, 122, 137);
  font-style: normal;
}
.cart-page .confirm-checkout-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
  justify-content: center;
  background: rgb(64, 63, 76);
  width: 100%;
  height: 220px;
}
.cart-page .confirm-checkout-wrapper section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-page .confirm-checkout-wrapper section .total-price {
  color: white;
  font-size: 1.7rem;
  cursor: default;
  font-weight: 600;
}
.cart-page .confirm-checkout-wrapper section .price {
  color: white;
  font-size: 1.7rem;
  cursor: default;
}
.cart-page .confirm-checkout-wrapper .checkout-button {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 1.3rem;
  background-color: rgb(119, 200, 170);
  border-radius: 12px;
  margin: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 200ms ease-in-out;
}
.cart-page .confirm-checkout-wrapper .checkout-button:hover {
  background-color: rgb(119, 200, 170);
}
.cart-page .confirm-checkout-wrapper .empty-cart-button {
  font-size: 1.3rem;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgb(64, 63, 76);
  background-color: white;
  color: rgb(64, 63, 76);
  cursor: pointer;
}
.cart-page h1 {
  color: rgb(119, 200, 170);
}

.cart-page-loading {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50px, -50px);
  justify-content: center;
}
.cart-page-loading .loading_dot {
  width: 30px;
  height: 30px;
  background-color: rgb(64, 63, 76);
  border-radius: 100px;
  margin: 5px;
}
.cart-page-loading .dot_one {
  -webkit-animation: wave 400ms ease-in-out 200ms infinite alternate;
          animation: wave 400ms ease-in-out 200ms infinite alternate;
}
.cart-page-loading .dot_two {
  -webkit-animation: wave 400ms ease-in-out 400ms infinite alternate;
          animation: wave 400ms ease-in-out 400ms infinite alternate;
}
.cart-page-loading .dot_three {
  -webkit-animation: wave 400ms ease-in-out 600ms infinite alternate;
          animation: wave 400ms ease-in-out 600ms infinite alternate;
}
@-webkit-keyframes wave {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
    background-color: rgb(119, 200, 170);
  }
}
@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
    background-color: rgb(119, 200, 170);
  }
}/*# sourceMappingURL=Cart.css.map */