@import '../../styles/Variables.scss';

.cart-page {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;

  .empty-cart-message {
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    min-width: 250px;
    width: 50%;
    word-wrap: normal;

    h1 {
      margin: none;
      flex-wrap: wrap;
      padding: none;
    }

    .home-redirect-button {
      outline: none;
      color: $primary-color;
      background-color: $secondary-color;
      width: 100%;
      height: 30px;
      border: none;
      cursor: pointer;
    }
  }

  .cart-item-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 550px;
    width: 38%;
    max-width: 750px;
    min-width: 300px;
    background-color: rgb(230, 230, 230, 1);
    box-shadow: 6px 6px 10px $primary-color;
    margin-bottom: 20px;
  }

  .cart-header-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(119, 200, 170);
    margin: 0;
    cursor: default;
    font-family: $poppins;
    width: 50%;
    font-size: 1.9rem;
    font-weight: 400;
    animation: heading_text_appear 1s ease-in-out forwards;

    @keyframes heading_text_appear {
      0% {
        color: rgba(119, 200, 170, 0);
      }

      100% {
        color: rgb(119, 200, 170);
      }
    }

    > p:last-of-type {
      padding: 0;
      margin: 0;
      font-size: 1.3rem;
      color: white;
      font-style: normal;
    }
  }

  .confirm-checkout-wrapper {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    width: 100%;
    height: 220px;

    section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .total-price {
        color: white;
        font-size: 1.5rem;
        cursor: default;
        font-weight: 200;
        font-family: $poppins;
      }
    }

    .checkout-button {
      width: 200px;
      height: 50px;
      color: white;
      font-size: 1.3rem;
      background-color: $secondary-color;
      border-radius: 12px;
      margin: 5px;
      cursor: pointer;
      border: none;
      transition: background-color 200ms ease-in-out;
      font-family: $poppins;
    }

    .checkout-button:hover {
      background-color: $secondary-color;
    }

    .empty-cart-button {
      font-size: 1.3rem;
      font-family: $poppins;
      width: 200px;
      height: 50px;
      border-radius: 12px;
      border: 1px solid rgb(64, 63, 76);
      background-color: white;
      color: rgb(64, 63, 76);
      cursor: pointer;
    }
  }

  h1 {
    color: rgb(119, 200, 170);
    padding: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .cart-header-display {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    margin: 5px;
  }
}
