@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
.cart-list-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.cart-list-container .item-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  max-width: 400px;
  margin: 10px;
  background-color: white;
  position: relative;
}
.cart-list-container .item-card .delete-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: -30px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
}
.cart-list-container .item-card .img-wrapper {
  width: auto;
  height: auto;
  margin: 0 5px 0 5px;
}
.cart-list-container .item-card .img-wrapper .cart-product-img {
  height: 100px;
  width: 100px;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-list-container .item-card .item-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-list-container .item-card .item-details-wrapper section:first-of-type {
  display: inline;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart-list-container .item-card .item-details-wrapper section:first-of-type h3 {
  padding: 5px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.cart-list-container .item-card .item-details-wrapper section:first-of-type p {
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: rgb(64, 63, 76);
  text-align: center;
}
.cart-list-container .item-card section:last-of-type {
  color: rgba(0, 0, 0, 0.6);
  height: auto;
  display: flex;
  align-items: center;
}
.cart-list-container .item-card section:last-of-type .quantity-adjustment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 4px 0;
}
.cart-list-container .item-card section:last-of-type .quantity-adjustment .quantity {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
.cart-list-container .item-card section:last-of-type .quantity-adjustment .price {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
.cart-list-container .item-card section:last-of-type .quantity-adjustment button:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: white;
  border: 1px solid rgb(119, 200, 170);
  padding: 2px;
  margin: 0 20px 0 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
.cart-list-container .item-card section:last-of-type .quantity-adjustment button:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  background-color: rgb(119, 200, 170);
  padding: 2px;
  margin: 0 20px 0 20px;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .item-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .item-card .delete-item-button {
    left: -80px;
    color: red;
  }
  .img-wrapper {
    width: auto;
    height: auto;
  }
  .img-wrapper .cart-product-img {
    height: 100px;
    width: 100px;
    padding: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=CartCard.css.map */