@import '../../styles/Variables.scss';

.paymentFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 300px;
  max-width: 500px;
  height: 100%;
  top: 0px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);

  form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 4px solid $secondary-color;
  }

  button {
    margin: 10px;
    width: 50%;
    background-color: $secondary-color;
    border: none;
    padding: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    color: $primary-color;
    font-weight: 600;
    transition: color 500ms;
    font-family: $poppins;
  }

  button:hover {
    color: white;
  }

  .StripeElement {
    width: 100%;
  }
}
