@import '../styles/Variables.scss';

.home-page {
  height: 100vh;
  // width ????
  display: grid;
  grid-template-columns: 1fr minmax(30%, 1200px) 1fr;
  grid-template-rows: 1fr 4fr 0.3fr;
  grid-template-areas:
    ' nav nav nav'
    ' . main . '
    'footer footer footer';

  overflow-y: scroll;
  overscroll-behavior: none;
}

.loading-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.product-grid {
  overscroll-behavior: none;
  width: 100%;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.footer {
  grid-area: footer;
  background-color: rgb(64, 63, 76);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-left: 15%;
}

.footer > * {
  margin: 10px;
  cursor: pointer;
}

.footer > *:hover {
  color: rgb(119, 200, 170);
}

.loading-animation {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;

  .loading_dot {
    width: 30px;
    height: 30px;
    background-color: $primary-color;
    border-radius: 100px;
    margin: 5px;
  }

  .dot_one {
    animation: wave 400ms ease-in-out 200ms infinite alternate;
  }

  .dot_two {
    animation: wave 400ms ease-in-out 400ms infinite alternate;
  }

  .dot_three {
    animation: wave 400ms ease-in-out 600ms infinite alternate;
  }

  @keyframes wave {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(5px);
      background-color: rgb(119, 200, 170);
    }
  }
}
