@import '../styles/Variables.scss';

.navbar {
  position: sticky;
  top: 0;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  // background-color: rgba(230, 230, 240, 0.5);
  height: 60px;

  > .item-count {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(230, 230, 240, 0.5);

    button {
      background-color: white;
      height: 45px;
      font-size: 1.3rem;
      padding: 0 30px 0 30px;
      border-radius: 5px;
      box-shadow: 6px 6px 5px rgba(108, 122, 137, 0.6);
      margin: 10px;
      cursor: pointer;
      color: $primary-color;
      transition: box-shadow 300ms ease-in-out;
      box-sizing: border-box;
      font-weight: 400;
      border: none;
      font-family: $poppins;
    }

    a:last-of-type button {
      position: relative;
      background-color: $primary-color;
      color: white;
      transition: transform 200ms ease-in, box-shadow 200ms ease-in;
      display: flex;
      align-items: center;
      justify-content: center;

      .item-count {
        background-color: $secondary-color;
        width: 8px;
        height: 8px;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: absolute;
        font-size: 1rem;
        right: 12px;
        top: -14px;
        font-family: $poppins;
        font-weight: 400;
      }
    }
  }

  .navbar-wrapper button:hover {
    box-shadow: 9px 9px 8px rgba(108, 122, 137, 0.6);
  }

  .navbar-wrapper > a:last-of-type button:hover {
    transform: scale(1.1);
    box-shadow: 9px 9px 8px rgba(108, 122, 137, 0.6);
  }
}

@media screen and (min-width: 600px) {
  .hamburger-nav-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    background-color: $secondary-color;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    z-index: 2;

    .navbar-wrapper > button,
    a {
      display: none;
    }

    > .item-count {
      color: transparent;
      font-size: 1.1rem;
      font-weight: 700;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      animation: badge-pop 500ms cubic-bezier(0.26, -0.33, 0.27, 1.83) 0ms 1
        forwards;
    }

    @keyframes badge-pop {
      0% {
        transform: scale(0.5);
      }
      50% {
        transform: scale(1.2);
        background-color: $primary-color;
      }
      100% {
        background-color: $primary-color;
        border-radius: 100%;
        color: white;
        width: 10px;
        height: 10px;
      }
    }
  }

  .hamburger-nav-button {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    border: none;

    span {
      width: 30px;
      height: 3px;
      background-color: $primary-color;
      margin: 3px 0 3px 0;
      border-radius: 12px;
    }
  }
}
