@import '../styles/Variables.scss';

.card {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  max-width: 15rem;
  width: 15rem;
  padding-bottom: 10px;
  border-radius: 15px;
  transition: box-shadow 300ms ease-in-out;
  margin: 5px;

  .add-to-checkout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: auto;
    width: 70%;
    background-color: $secondary-color;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    transition: transform 200ms ease-in-out;
    margin-bottom: 10px;
    padding: 5px;
  }

  .add-to-checkout-button:hover {
    transform: scale(1.1);
  }

  p:first-of-type {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 0;
    word-wrap: break-word;
  }

  .main-product-img {
    min-width: 10rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .price-tag {
    color: $light-color;
    margin-top: 10px;
    font-size: 1.3rem;
    margin: 5px;
  }
}

// .card:hover {
//   box-shadow: 5px 5px 5px 5px rgba(108, 122, 137, 0.4);
// }
// .skeleton {
//   animation: skeleton_loading 1s linear infinite alternate;
// }

// @keyframes skeleton_loading {
//   0% {
//     background-color: rgba(200, 200, 200, 0.5);
//   }

//   100% {
//     background-color: rgba(200, 200, 200, 0.9);
//   }
// }
